<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Covid-19 Spread India</title>

    <!-- CSS -->
    <!-- load bootstrap and our own personal stylesheet -->


    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">    
    <link rel="stylesheet" href="css/style.css">
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
   integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
   crossorigin=""></script>
    <!-- JavaScript files-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src="js/main.js"></script>

</head>
<body>
  <!-- navbar-->
  <nav class="navbar navbar-light navbar-expand-lg fixed-top shadow-sm bg-white"><a href="/" class="navbar-brand">Covid-19 Distribution and Spread in India</a>
    <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>
    <div id="navbarSupportedContent" class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a href="https://github.com/p-mohan/in-covid" class="nav-link">Github</a></li>
      </ul>

    </div>
  </nav>
    <!-- Hero Section-->
    <section class="bg-light">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xl-7">
                <div  class="img-fluid" id="mapid"></div>
            </div>
            <div class="col-xl-5" id="col">
                <div id="div-1" > <p>Generated from Government of India data. Source <a href="https://www.mohfw.gov.in"/>https://www.mohfw.gov.in</a> </p></div>
    
                <div id="div-2">   
                    <canvas  class="img-fluid" id="myChart"></canvas>
                </div>
        </div>
            </div>
          </div>
        </div>
      </section>

 <!-- <div class="container">  
    <div class="jumbotron"> <div id="mapid" class="col-8 main">
        </div>
    </div> </div> -->

<script>
    var mymap = L.map('mapid').setView([21.726, 78.428], 5);
    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoicC1tb2hhbiIsImEiOiJjazg3Z3N3emgwY2YxM2ZzOWZndG5qbjdrIn0.CTdvATdGhW7G_84wS8DXOQ', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 13,
    id: 'mapbox/streets-v11',
    tileSize: 512,
    zoomOffset: -1,
    accessToken: 'your.mapbox.access.token'
}).addTo(mymap)

//circle

    <% for(let state of states.keys())  { %>

 var circle = new L.circle([ <%= states.get(state)[0] %> , <%= states.get(state)[1] %>  ], {
    color: 'red',
    fillColor: '#f03',
    fillOpacity: 0.5,
    radius: <%= 150000 * states.get(state)[2]/largestInfected %>
}); 

circle.bindPopup("<%= state+": "+states.get(state)[2]%>").addTo(mymap);
/* new L.popup( {closeOnClick: true, autoClose: false})
    .setLatLng([<%= states.get(state)[0] %> , <%= states.get(state)[1] %>  ])
    .setContent( )
    .openOn(mymap); */

<% } %>
var days =  [
<% for(let i in days)  { %>
  "<%= days[i] %>",
  <% } %>
""];
var current =[ <%= current %>];
$(document).ready(function(){
var myChart = new Chart($("#myChart"), {
  type: 'line',
  data: {
    labels: days,
    datasets: [
      { 
        data: current,
        label: "Confirmed",
        borderColor: "#f03",
        fill: false
      }
    ]
  }
});
});
</script>

</body>
</html>